# test file
test.py

# data files
data

# bash scripts
*.sh

# docs
docs/_build

# intermediate files
build
dist
*.egg-info

# experimental results
exp
results
wandb
*.csv
*.png
*.html

# log and config files
log.*
*.log
*.cfg
*.ini

# pycache
__pycache__

# saved model
*.pkl
*.pt


# vscode
.vscode

# macOS
.DS_Store
